{{ attach_library('enisa/main') }}
{{ attach_library('enisa/country-survey-summary-data') }}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      {% set survey_title = country_survey_data.survey.title %}
      {% set country_name = country_survey_data.country.name %}
      {% if is_admin %}
        <li class="breadcrumb-item"><a href="/survey/management">{{ 'Surveys'|t }}</a></li>
        <li class="breadcrumb-item"><a href="/survey/dashboard/management/{{ country_survey_data.survey.id }}">{{ 'Survey Dashboard'|t }} - {{ survey_title|raw }}</a></li>
        <li class="breadcrumb-item active">{{ 'Survey Summary Data'|t }} - {{ country_name }}</li>
      {% elseif is_poc %}
        <li class="breadcrumb-item"><a href="/survey/user/management">{{ 'Surveys'|t }}</a></li>
        <li class="breadcrumb-item active">{{ 'Survey Summary Data'|t }} - {{ survey_title|raw }}</li>
      {% endif %}
  </ol>
</nav>

<h1>
  {{ 'Survey Summary Data'|t }} -
  {% if is_admin %}
    {{ country_name }}
  {% else %}
    {{ survey_title|raw }}
  {% endif %}
</h1>

<main id="enisa-main" class="bg-white">
  <div class="container-fluid ">

    <div class="row mt-5">
      <div class="col-12 ps-0 pe-0">
        <div class="table-section col-12 mt-2">
          <form class="row">
            {% if is_admin %}
              <div class="col-md-6">
                <label for="formSurvey" class="col-form-label">{{ 'Survey'|t }}</label>
                <input class="form-control" type="text" name="survey" id="formSurvey" value="{{ country_survey_data.survey.title }}" disabled>
              </div>
              <div class="col-md-6">
                <label for="formCountry" class="col-form-label">{{ 'Country'|t }}</label>
                <input class="form-control" type="text" name="survey" id="formCountry" value="{{ country_survey_data.country.name }}" disabled>
              </div>
            {% endif %}
            <div class="col-md-6">
              <label for="formPrimaryPoC" class="col-form-label">{{ 'Primary PoC'|t }}</label>
              <input class="form-control" type="text" name="survey" id="formPrimaryPoC" value="{{ country_survey_data.primary_poc }}" disabled>
            </div>
            <div class="col-md-6">
              <label for="formSurveySubmission" class="col-form-label">{{ 'Survey Submission'|t }}</label>
              <input class="form-control" type="text" name="survey" id="formSurveySubmission" value="{{ (country_survey_data.submitted_date is not empty) ? country_survey_data.submitted_date|date('d-m-Y H:i:s') : '-' }}" disabled>
            </div>
            <div class="col-md-6">
              <label for="formStatus" class="col-form-label">{{ 'Survey Status'|t }}</label>
              {% if country_survey_data.status is not empty and country_survey_data.style is not empty %}
                <button class="form-control btn-{{ country_survey_data.style }} btn-label btn-with-tooltip" data-bs-toggle="tooltip" title="{{ country_survey_data.info }}" type="button">{{ country_survey_data.status }}</button>
              {% else %}
                <div>-</div>
              {% endif %}
            </div>
            <div class="col-md-3">
              <label for="formProgress" class="col-form-label">{{ 'Indicators In progress'|t }}</label>
              {% if country_survey_data.submitted_user is empty %}
                <div class="progress">
                  <div class="progress-bar bg-{{ country_survey_data.style }}" role="progressbar" style="width: {{ country_survey_data.percentage_in_progress }}%"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{ country_survey_data.percentage_in_progress }}%</div>
                </div>
              {% else %}
                <div>-</div>
              {% endif %}
            </div>
            <div class="col-md-3">
              <label for="formProgress" class="col-form-label">{{ 'Indicators Approved'|t }}</label>
              <div class="progress">
                <div class="progress-bar bg-{{ country_survey_data.style }}" role="progressbar" style="width: {{ country_survey_data.percentage_approved }}%"
                  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{ country_survey_data.percentage_approved }}%</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 table-section">
        <h2 class="mb-2">Requested changes</h2>
        <table id="country-survey-requested-changes-table" class="display enisa-table-group">
          <thead>
            <tr>
              <th>{{ 'Number'|t }}</th>
              <th>{{ 'Requested at'|t }}</th>
              <th>{{ 'Requested by'|t }}</th>
              <th>{{ 'Answered at'|t }}</th>
              <th>{{ 'Answered by'|t }}</th>
              <th>{{ 'Changes'|t }}</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 table-section">
        <h2 class="mb-2">Data not available</h2>
        <table id="country-survey-data-not-available-table" class="display enisa-table-group">
          <thead>
            <tr>
              <th>{{ 'Number'|t }}</th>
              <th>{{ 'Indicator name'|t }}</th>
              <th>{{ 'Question no'|t }}</th>
              <th>{{ 'Question name'|t }}</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 table-section">
        <h2 class="mb-2">References</h2>
        <table id="country-survey-references-table" class="display enisa-table-group">
          <thead>
            <tr>
              <th>{{ 'Number'|t }}</th>
              <th>{{ 'Indicator name'|t }}</th>
              <th>{{ 'Question no'|t }}</th>
              <th>{{ 'Year'|t }}</th>
              <th>{{ 'Source'|t }}</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 table-section">
        <h2 class="mb-2">Comments</h2>
        <table id="country-survey-comments-table" class="display enisa-table-group">
          <thead>
            <tr>
              <th>{{ 'Number'|t }}</th>
              <th>{{ 'Indicator name'|t }}</th>
              <th>{{ 'Comments'|t }}</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

  </div>
</main>