<style>
   
    @page {
        size: A4;
        margin: 0 15mm 20mm 15mm!important;

        @bottom-left {
            content: element(footerSurveyRunning);
        }
    }
  
    @media print {
        #surveyPrintWrap {
            border-radius: 4px;
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }

        #surveyPrintWrap p,
        #surveyPrintWrap ul,
        #surveyPrintWrap ol,  
        #surveyPrintWrap span, 
        #surveyPrintWrap label,  
        #surveyPrintWrap .indicator-head .form-indicator-info{
            font-size: 0.75rem;
        }

        #surveyPrintWrap .form-indicator-name,
        #surveyPrintWrap .form-indicator-id,
        #surveyPrintWrap .form-questions-title {
            font-size: 1rem;
        }

        #surveyPrintWrap .form-check-input {
            width: .75em;
            height: .75em;
            margin-top: .4em !important;
            margin-left: -1em !important;
        }

        #surveyPrintWrap .form-select {
            font-size: .75rem!important;
        }

        #surveyPrintWrap .form-control {
            padding: .25rem;
            font-size: .75rem;
        }

        #surveyPrintWrap .form-check {
            min-height: .5rem;
        }

        #surveyPrintWrap .rating-wrapper {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        #surveyPrintWrap .rating-label {
            display: flex;
        }

        #survey-footer {
            position: running(footerSurveyRunning);
            height: 60px;
            display: block;
        }
        
        #survey-footer::after {
            content: "Page "counter(page);
            font-size: 10px;
            font-weight: 500;
            display: flex;
            justify-content: end;
            padding-right: 12px;
            color: #9D9C9C;
        }

        .form-check-input:focus {
            box-shadow: unset;
        }
    }

    .form-check-input:focus {
        border-color: #141414;
        box-shadow: unset;
    }

</style>

<div id="surveyPrintWrap">
    <div id="survey-footer"></div>
 
    <section class="wizard-section">
        <div>
            <div class="col-12 ps-0 pe-0">
                <div>
                    <div>
                        {% for indicator in indicators %}
                            {% set indicator_number = indicator.order %}
                            <fieldset class="mt-2 show outline page-break-after" id="page-{{ loop.index + 1 }}">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="indicator-head">
                                            <div class="col-8">
                                                <h5>
                                                    <div>
                                                        <span class="form-indicator-info">{{ indicator.subarea.area.name|raw }} /</span>
                                                        <span class="form-indicator-info">{{ indicator.subarea.name|raw }}</span>
                                                    </div>
                                                    <div>
                                                        <span class="form-indicator-id">{{ indicator_number }}</span>.
                                                        <span class="form-indicator-name">{{ indicator.name|raw }}</span>
                                                    </div>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="indicator-body accordion-body pt-2">
                                            {% set count = 0 %}
                                            <div class="col-10 offset-1">
                                                <p class="form-indicator-text-content">{{ indicator.algorithm|raw }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="accordion">
                                            {% for accordion in indicator.accordions %}
                                                <div class="indicator-head">
                                                    <h5>
                                                        {{ accordion.title|raw }}
                                                    </h5>
                                                </div>
                                                <div id="accordion-collapse-{{ indicator.id }}-{{ loop.index }}"
                                                    class="accordion-collapse collapse show"
                                                    aria-labelledby="accordion-heading-{{ indicator.id }}-{{ loop.index }}">
                                                    {% for question in accordion.questions %}
                                                        {% set count = count + 1 %}
                                                        {% set question_number = indicator_number ~ '.' ~ count %}
                                                        {% set info = question.info ? '<span class="info-icon-black" data-bs-toggle="tooltip" data-bs-placement="right" title="' ~ question.info ~ '"></span>' : '' %}
                                                        <div class="accordion-body indicator-body page-break-after pt-2">
                                                            <div class="form-question-text">
                                                                <p class="fw-bold">
                                                                    <span class="form-required {{ (question.answers_required) ? '' : 'd-none' }}" style="color: var(--brand-color-1);">*</span>
                                                                    <span>{{ question_number }}</span>. {{ question.title|raw }}{{ info|raw }}
                                                                </p>
                                                            </div>
                                                            <div id="form-indicator-{{ indicator.id }}" class="col-12 pe-0 mb-2 form-indicators">
                                                                <div class="input-wrapper d-flex gap-4 mb-3 input-choice required">
                                                                    {% set choice_id = (with_answers) ? question.answers.choice.id : '' %}
                                                                    {% set options = (with_answers) ? question.answers.options : [] %}
                                                                    {% set free_text = (with_answers) ? question.answers.free_text : '' %}
                                                                    {% set reference_year = (with_answers) ? question.answers.reference_year : '' %}
                                                                    {% set reference_source = (with_answers) ? question.answers.reference_source : '' %}
                                                                    {% for choice in question.choices %}
                                                                        <div class="form-check" data-toggle="buttons">
                                                                            <input type="radio"
                                                                                class="form-input form-check-input"
                                                                                name="form-indicator-{{ indicator.id }}-choice-{{ accordion.order }}-{{ question.order }}"
                                                                                id="form-indicator-{{ indicator.id }}-choice-{{ accordion.order }}-{{ question.order }}-{{ loop.index }}"
                                                                                value="{{ choice.id }}"
                                                                                {{ (choice.id == choice_id or loop.first) ? 'checked' : '' }}/>
                                                                            <label class="form-check-label"
                                                                                for="form-indicator-{{ indicator.id }}-choice-{{ accordion.order }}-{{ question.order }}-{{ loop.index }}">
                                                                                {{ choice.name|raw }}
                                                                            </label>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="input-wrapper actual-answers {{ question.type.name }} {{ (question.answers_required) ? 'required' : '' }}">
                                                                    {% if question.type.id == 1 %}
                                                                        {% for option in question.options %}
                                                                            <div class="form-check" data-toggle="buttons">
                                                                                <input type="radio"
                                                                                    class="form-input form-check-input"
                                                                                    name="form-indicator-{{ indicator.id }}-answers-{{ accordion.order }}-{{ question.order }}"
                                                                                    id="form-indicator-{{ indicator.id }}-answers-{{ accordion.order }}-{{ question.order }}-{{ loop.index }}"
                                                                                    value="{{ option.value }}"
                                                                                    {{ (option.value in options) ? 'checked' : '' }}/>
                                                                                <label class="form-check-label"
                                                                                    for="form-indicator-{{ indicator.id }}-answers-{{ accordion.order }}-{{ question.order }}-{{ loop.index }}">
                                                                                    {{ option.title|raw }}
                                                                                </label>
                                                                            </div>
                                                                        {% endfor %}
                                                                    {% elseif question.type.id == 2 %}
                                                                        {% for option in question.options %}
                                                                            <div class="form-check">
                                                                                <input type="checkbox"
                                                                                    class="form-input form-check-input {{ option.master ? 'master' : '' }}"
                                                                                    name="form-indicator-{{ indicator.id }}-answers-{{ accordion.order }}-{{ question.order }}"
                                                                                    id="form-indicator-{{ indicator.id }}-answers-{{ accordion.order }}-{{ question.order }}-{{ loop.index }}"
                                                                                    value="{{ option.value }}"
                                                                                    {{ (option.value in options) ? 'checked' : '' }}/>
                                                                                <label class="form-check-label"
                                                                                    for="form-indicator-{{ indicator.id }}-answers-{{ accordion.order }}-{{ question.order }}-{{ loop.index }}">
                                                                                    {{ option.title|raw }}
                                                                                </label>
                                                                            </div>
                                                                        {% endfor %}
                                                                    {% else %}
                                                                        <div>
                                                                            <input type="text"
                                                                                class="form-input form-control"
                                                                                name="form-indicator-{{ indicator.id }}-answers-{{ accordion.order }}-{{ question.order }}"
                                                                                id="form-indicator-{{ indicator.id }}-answers-{{ accordion.order }}-{{ question.order }}-{{ loop.index }}"
                                                                                value="{{ free_text|raw }}"/>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-2 form-references {{ (question.reference_required) ? 'required' : '' }}">
                                                                <span class="form-required {{ (question.reference_required) ? '' : 'd-none' }}" style="color: var(--brand-color-1);">*</span>
                                                                <label for="form-indicator-{{ indicator.id }}-reference-year-{{ accordion.order }}-{{ question.order }}" class="form-label mt-2">{{ 'Reference Year'|t }}</label>
                                                                <select class="form-select" name="form-indicator-{{ indicator.id }}-reference-year-{{ accordion.order }}-{{ question.order }}" id="form-indicator-{{ indicator.id }}-reference-year-{{ accordion.order }}-{{ question.order }}" aria-label="Reference Year" style="width: 20%">
                                                                    <option value="" selected disabled>{{ 'Choose...'|t }}</option>
                                                                    {% for year in years %}
                                                                        <option value="{{ year }}" {{ (year == reference_year) ? 'selected' : '' }}>{{ year }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="col-12 mb-4 form-references {{ (question.reference_required) ? 'required' : '' }}">
                                                                <span class="form-required {{ (question.reference_required) ? '' : 'd-none' }}" style="color: var(--brand-color-1);">*</span>
                                                                <label for="form-indicator-{{ indicator.id }}-reference-source-{{ accordion.order }}-{{ question.order }}" class="form-label mt-2">{{ 'Reference Source'|t }}</label>
                                                                <textarea class="form-control outline" name="form-indicator-{{ indicator.id }}-reference-source-{{ accordion.order }}-{{ question.order }}" id="form-indicator-{{ indicator.id }}-reference-source-{{ accordion.order }}-{{ question.order }}" placeholder="{{ 'Include here the source of data. Note that you should use the latest data available.'|t }}">{{ reference_source|raw }}</textarea>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% if with_answers %}
                                    <div class="row btm">
                                        <div class="col-md-12">
                                            {# Rating / Comments #}
                                            <div>
                                                <form id="comments_and_rating">
                                                    <fieldset class="p-4">
                                                        <div class="col-12 mb-4">
                                                            <span style="color: var(--brand-color-1);">*</span>
                                                            <span>
                                                                {{ 'Please rate the relevance of the indicator by selecting 1-5 stars. The rating of the indicator will be used to calculate the weight for this indicator.'|t }}
                                                            </span>
                                                            <div class="form-rating rating required mt-2">
                                                                <span class="pe-1 align-top">Rating:</span>
                                                                {% for i in range(5, 1, -1) %}
                                                                    <input
                                                                        class="form-indicator-{{ indicator.id }}-rating" type="radio"
                                                                        id="form-indicator-{{ indicator.id }}-rating-{{ i }}"
                                                                        name="form-indicator-{{ indicator.id }}-rating"
                                                                        value="{{ i }}"
                                                                        {{ (indicator.rating == i) ? 'checked' : '' }}/>
                                                                    <label class="star" for="form-indicator-{{ indicator.id }}-rating-{{ i }}" aria-hidden="true"></label>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="form-comments">
                                                            <textarea class="form-control user-comments outline" name="form-indicator-{{ indicator.id }}-comments" id="form-indicator-{{ indicator.id }}-comments" rows="5" placeholder="{{ 'Include here any remark that could be useful in the processing of data e.g. explaining if / why your country does not collect data\nfor a specific question; or if your country does not want to share the data.'|t }}">{{ indicator.comments|raw }}</textarea>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </fieldset>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>