{{ attach_library('enisa/main') }}
{{ attach_library('enisa/alert') }}
{{ attach_library('enisa/modal') }}
{{ attach_library('enisa/list-invitations') }}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">{{ 'Invitations'|t }}</li>
  </ol>
</nav>

<div class="d-flex justify-content-between">
  <h1>{{ 'Manage Invitations'|t }}</h1>
  <button type="button" class="btn btn-enisa invite-user">{{ 'Invite new user'|t }}</button>                  
</div>

<main id="enisa-main" class="bg-white">
  <div class="container-fluid">

    {% include '@enisa/components/alert.html.twig' with {'type': 'pageAlert'} %}

    <div class="row mt-5">
      <div class="col-12 ps-0 pe-0">
        <div class="table-section col-12 mt-2">
          <h2 class="mb-2">Invitations</h2>
          <table id="invitations-table" class="display enisa-table-group">
            <thead>
              <tr>
                <th>{{ 'Name'|t }}</th>
                <th>{{ 'Email Address'|t }}</th>
                <th>{{ 'Country'|t }}</th>
                <th>{{ 'Role'|t }}</th>
                <th>{{ 'Invited By'|t }}</th>
                <th>{{ 'Invitation Date'|t }}</th>
                <th>{{ 'Registration Date'|t }}</th>
                <th>{{ 'Status'|t }}</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <div class="modal fade" id="pageModal" tabindex="-1" aria-labelledby="pageModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header p-3">
            <h5 class="modal-title" id="pageModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-3"></div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-enisa" data-bs-dismiss="modal">{{ 'Close'|t }}</button>
            <button type="button" class="btn btn-enisa process-data" id='process-data'></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
