<form id="index-manage">
  <input hidden id="item-action"/>
  <input hidden id="item-route"/>
  <div class="input-group row mb-3 required">
    <label for="formName" class="col-form-label col-lg-4">{{ 'Name'|t }}</label>
    <div class="col-lg-8">
      <input class="form-control" type="text" name="name" id="formName" placeholder="Name" value="{{ index_data is not empty ? index_data.title : '' }}" {{ (index_data is not empty and index_data.status == 'Published') ? 'disabled' : '' }}>
      <div class="invalid-feedback"></div>
    </div>
  </div>
  <div class="input-group row mb-3">
    <label for="formDescription" class="col-form-label col-lg-4">{{ 'Description'|t }}</label>
      <div class="col-lg-8">
        <textarea class="form-control" name="description" id="formDescription" placeholder="Description" value="" {{ (index_data is not empty and index_data.status == 'Published') ? 'disabled' : '' }}>{{ index_data is not empty ? index_data.description : '' }}</textarea>
        <div class="invalid-feedback"></div>
      </div>
  </div>
  <div class="input-group row mb-3 required">
    <label for="formYear" class="col-form-label col-lg-4">{{ 'Year'|t }}</label>
    <div class="col-lg-8">
      <select class="form-select mr-sm-2" name="year" id="formYear" {{ (index_data is not empty and index_data.status == 'Published') ? 'disabled' : '' }}>
        <option value="" selected disabled>{{ 'Choose...'|t }}</option>
        {% for year in years %}
          <option value="{{ year }}" {{ (index_data is not empty and index_data.year == year) ? 'selected' : '' }}>{{ year }}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback"></div>
    </div>
  </div>
  <div class="input-group row mb-3">
    <label for="formYear" class="col-form-label col-lg-4">{{ 'Status:'|t }}</label>
    <div class="col-lg-8">
      <div class="gap-2">
        <div class="d-flex gap-2">
          <div class="form-check form-switch">
            <input type="checkbox" name="status" class="form-check-input switch switch-positive {{ (index_data is empty or (index_data is not empty and index_data.status == 'Unpublished')) ? 'unchecked-style' : '' }} {{ (index_data is not empty and index_data.eu_indexes_count and index_data.country_indexes_count) ? 'switch-deactivated' : '' }}" id="statusSwitch" {{ (index_data is not empty and index_data.status == 'Published') ? 'checked' : '' }}>
          </div>
          <span class="label pt-1">{{ index_data is not empty ? index_data.status : 'Unpublished'|t }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="input-group row mb-3">
    <label for="formYear" class="col-form-label col-lg-4">{{ 'EU Reports/Visualisations:'|t }}</label>
    <div class="col-lg-8">
      <div class="gap-2">
        <div class="d-flex gap-2">
          <div class="form-check form-switch">
            <input type="checkbox" name="eu_published" class="form-check-input switch switch-positive {{ (index_data is not empty and index_data.eu_published and index_data.ms_published) ? 'switch-deactivated' : '' }} {{ (index_data is empty or (index_data is not empty and not index_data.eu_published)) ? 'unchecked-style' : '' }}" id="euSwitch" {{ (index_data is not empty and index_data.eu_published) ? 'checked' : '' }}>
          </div>
          <span class="label pt-1">{{ (index_data is not empty and index_data.eu_published) ? 'Published'|t : 'Unpublished'|t }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="input-group row mb-3">
    <label for="formYear" class="col-form-label col-lg-4">{{ 'MS Reports/Visualisations:'|t }}</label>
    <div class="col-lg-8">
      <div class="d-flex gap-2">
        <div class="form-check form-switch">
          <input type="checkbox" name="ms_published" class="form-check-input switch switch-positive {{ (index_data is empty or (index_data is not empty and not index_data.ms_published)) ? 'unchecked-style' : '' }} {{ (index_data is empty or (index_data is not empty and not index_data.eu_published)) ? 'switch-deactivated' : '' }}" id="msSwitch" {{ (index_data is not empty and index_data.ms_published) ? 'checked' : '' }}>
        </div>
        <span class="label pt-1">{{ (index_data is not empty and index_data.ms_published) ? 'Published'|t : 'Unpublished'|t }}</span>
      </div>
    </div>
  </div>
</form>
